*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#toolbar{
    width: 350px;
    height:500px;
    background-color: rgb(184, 230, 248);
    position: fixed;
    top: 50px;
    left: 900px;
    color: rgb(142, 48, 250);
}

.Rcontrol{
    width: 20px;
    height: 20px;
    background-color: rgb(82, 206, 255);
    text-align: center;
    display: inline-block;
}

#R{
    padding-top: 5px;
}

#FONT{
    padding-top: 5px;
}

.Fcontrol{
    width: 20px;
    height: 20px;
    background-color: rgb(82, 206, 255);
    text-align: center;
    display: inline-block;
}

#colors{
    position: relative;
    top: 380px;
    left: 20px;
}

.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px plum, 0px 2px 2px rebeccapurple;
    display: inline-block;
}

.swatch.active{
    border: 2px  solid white;
    box-shadow: inset 0px 1px 2px rebeccapurple;    
}

#canvas{

    background-color:  whitesmoke;
    position: fixed;
    top: 50px;
    left: 50px;
}

#brush{
    background-image: url("image/brush.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#eraser{
    background-image: url("image/eraser.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#text{
    background-image: url("image/text.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#circle{
    background-image: url("image/circle.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#triangle{
    background-image: url("image/triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#rectangle{
    background-image: url("image/rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#undo{
    background-image: url("image/undo.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#redo{
    background-image: url("image/redo.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#refresh{
    background-image: url("image/refresh.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

#line{
    background-image: url("image/line.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
}

.tool{
    width: 100%;
    text-align: center;
    line-height: 75px;
}

.btn{
    width: 50px;
    height: 50px;
    background-color: rgba(248, 240, 255, 0.911);
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
}

#download_btn{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;    
}

#upload{
    background-image: url("image/upload.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
    position: relative;
    bottom: 25px;
}
